
@{
    ViewData["Title"] = "Index";
}

<h1>Upload File</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Teacher" asp-action="Index">
    <input type="file" name="formFile"/>
    <input type="submit" value="Upload Files"/>
    <hr/>
    <h4>@ViewData["Message"]</h4>


</form>
