@model DataAccess.Dtos.CourseDto

@{
    ViewData["Title"] = Model.CourseCode + " " + Model.Author?.FullName;
}

<h1>@(Model.CourseCode + " " + Model.Author?.FullName)</h1>

<div>
    @if (ViewBag.Documents != null)
    {
        foreach(var document in ViewBag.Documents){
            <a href="@Url.Action("Download", "File", 
            new { fileName = document.DocumentName, contentType = document.ContentType })">@document.DocumentOriginalName</a>
            <br />
        }
    }
</div>
