@model IEnumerable<DataAccess.Dtos.CourseDto>
@{
	var pagingModel = new DataAccess.Dtos.PageHelper()
			{
				pageCurrent = ViewBag.currentPage,
				totalPages = ViewBag.TotalPage,
				url = $"Course?txtSearch={ViewBag.txtSearch}&page="
			};
}
<h3>Result</h3>
<div class="row" style="margin-top: 2%; padding: 1% 0; padding-left: 13%;">
	@if (Model != null && Model.Count() > 0)
	{
		foreach (var item in Model)
		{
			<div class="col-md-4" style="width:25%; margin-right: 2%; box-shadow: 0px 0px 14px 0px #616161; display: flex; justify-content: center;padding: 2%;margin-bottom: 2%; border-radius: 5%;">
				<a style="text-decoration:none;" href="@Url.Action("Enroll", "Course", new { id = item.Id})">
					<img style="height: 5rem;" src="~/Download/heart.jpg" />
					<hr />
					<p style="justify-items:center;">Course Name: @item.CourseName</p>
					<p style="justify-items:center;">Tearch: @item.Author?.FullName</p>
				</a>
			</div>

		}
		<partial name="_Paging" model="@pagingModel" />
	}
	else
	{
		<h4 class="text-danger">Not Found</h4>
	}
</div>
<style>
	.page-link.active {
		background-color: aquamarine;
	}
</style>